.header-banner {
    padding: 1rem;
    display: flex;
    color: #ffffff;
    background: #0288d1;
    box-shadow: 0 4px 3px rgba(1, 87, 155, 0.5);
    align-items: center;
}
.center {
    text-align: center;
}

.header-banner img {
    height: 3rem;
    margin-right: 0.3rem;
}
.header-banner h2 {
    font-size: 1.75rem;
    font-weight: 300;
}
.gh-svg {
    position: fixed;
    top: 1.5em;
    right: 1.5em;
}
